:root {
  --heading-font-family: "Martian Mono", monospace;
  --default-font-family: "PT Mono", monospace;
  --heading-color: #009695;
  --subheading-color: #eb113a;
  --background-color: rgb(254, 219, 215, 0.5);
  --alt-subheading-color: rgb(176, 145, 255);
}

body {
  font-family: var(--default-font-family);
  text-align: center;
}

h1 {
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  font-size: 80px;
  font-weight: 700;
  opacity: 90%;
}

h2 {
  color: var(--subheading-color);
}

p {
  font-weight: normal;
}

.intro {
  background-color: var(--background-color);
  padding: 100px 20px;
}

.btn-main {
  background-color: var(--subheading-color);
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
}

.weather-project,
.calico-cat,
.weather-project-vanillajs {
  font-size: 60px;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: var(--subheading-color);
}

a:hover {
  color: #009695;
}

.calico-img,
.weather-vanillajs-img {
  border-radius: 8px;
  border: white;
}

.calico-img,
.weather-img {
  width: 550px;
}

.weather-vanillajs-img {
  padding: 70px 10px;
  width: 650px;
}

.subheading-weather-vanillajs {
  font-size: 40px;
  font-weight: 500;
}

li {
  text-align: center;
  list-style: none;
  line-height: 50px;
}

.about-heading {
  font-size: 60px;
  margin-bottom: 40px;
}

.about-intro {
  padding: 36px 190px;
  line-height: 25px;
  font-weight: 100;
  margin-right: -107px;
}
.about-intro p {
  margin-right: 20px;
}

.sandra-photo {
  max-width: 340px;
  border-radius: 10px;
  margin: 160px 68px;
}

.projects-subheading {
  color: var(--alt-subheading-color);
}

@media (max-width: 576px) {
  h1 {
    font-size: 70px;
    text-align: center;
  }
  intro {
    padding: 50px 15px;
  }
  .weather-project,
  .calico-cat,
  .weather-project-vanillajs {
    font-size: 50px;
    text-align: center;
  }

  .about-intro {
    padding: 37px 78px;
  }
}
