body {
  font-family: "PT Mono", monospace;
}

h1 {
  font-family: "Rubik Gemstones", cursive;
  background-color: aquamarine;
}

h2 {
  font-family: "Martian Mono", monospace;
}

p {
  font-family: "PT Mono", monospace;
}
